.LogoTextStyle {
	position: absolute;
	margin: 10px 55px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Fira Sans;
	font-size: 24px;
	font-weight: 600;
}

.LogoImgStyle {
	height: 55px;
	width: 55px;
	margin: 10px 0px;
}

.AppLogo {
	position: relative;
	display: flex;	
	justify-content: flex-start;
	flex-direction: row;
	align-items: center;
}